body{
	background-color: #fff1e0;
	color: black;
}

figure{
	padding-right: 25px;
	padding-left: 25px;
}

figcaption{
	text-align: center;
	color: white;
	font: ;
}

:root{--accent: cadetblue;}

.post-meta{
	color:  cadetblue;
}

.logo{
	color: white;
}

.post-tags a {
	color: teal;
}